*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
div.intro {
  text-align:center;
  font-size:25px;
  font-weight: bold;
}

body{
  font-family:montserrat;
  color: white;
}

nav{
  background: #191919;
  height: 80px;
  width: 100%;
}
label.logo{
  color:white;
  font-size:35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover{
  background: #666666
  transition: .5s;
  
}
.checkbtn{
  font-size: 30px;
  color:white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor:pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 0;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover, a.active{
    background: none;
    color: #5b5b5b;
  }
  #check:checkered ~ ul{
    left: 0;
  }
}
section{
  background: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOW03azAzY3Q5eDh4ZmQxYjlhZTFham92ZWc5MGw2N2ZyMDB2NXZlYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l4FGyGSeCm7pOhzKo/giphy.gif") no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}


.transparentbg {
  background-color: #3b3b3b;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.bgtext {
  text-align: left;
  font-weight:bold;
  font-size:20px;
}
